<h1>nanoTwitter</h1>

<p><a href="https://codeship.com/projects/114521"><img src="https://img.shields.io/codeship/0e88ea30-695a-0133-4ddd-666650db048e.svg" alt="Codeship" title="" /></a> <a href="https://codeclimate.com/github/keighrim/cs105_nT"><img src="https://codeclimate.com/github/keighrim/cs105_nT/badges/gpa.svg" alt="Code Climate" title="" /></a>  <a href="https://raw.githubusercontent.com/keighrim/cs105_nT/master/LICENSE"><img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="GitHub license" title="" /></a></p>

<p>nanoTwitter is a toy-mimic of popular social service <a href="http://www.twitter.com">twitter</a>, developed by 4 students at Brandeis as a course project from <em>Software Engineering for scalability</em>.</p>

<h2>License</h2>

<p>This is a free software under <a href="#/license">MIT license</a></p>

<h2>Routing</h2>

<p>TODO</p>