<div class="col-md-8 col-md-offset-1">
    <table valign><tr>
        <th><a href="/profile/<%= @user.name%>"><h3>Timeline</h3></a> </th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th><h3>History</h3></th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th> <a href="/network/<%= @user.name%>"><h3>Network</h3></a> </th>
    </tr></table>
    <ul>
        <% @tweets.each do |t|%>
            <li><%=t.content %></br></li>
        <% end %>
    </ul>
</div>