<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <table valign><tr>
            <th> <h3>Timeline</h3> </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th> <a href="/profile/<%= @user.name%>?h=1"><h3>History</h3></a> </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th> <a href="/network/<%= @user.name%>"><h3>Network</h3></a> </th>
        </tr></table>
    </div>
</div>