<div class="row" style="padding-left:10px; padding-right:10px">
    <div class="col-md-8 col-md-offset-4">
        <div class="input-group">
            <h4>Log-in here:</h4>
            <form action="/login" method="POST">
                <div class="col-md-8">
                    <input type="text" class="form-control" name="name" placeholder="Your username" required="true"/>
                    <input type="text" class="form-control" name="password" placeholder="Your password" required="true"/>
                </div>
                <div class="col-md-3">
                    <input class="button btn-md btn-primary"type="submit" value="Submit" />
                </div>
            </form>
        </div>

        <div class="input-group">
            <h4>Register here:</h4>
            <form action="/register" method="POST">
                <div class="col-md-8">
                    <input type="text" class="form-control" name="name" placeholder="Your username" required="true"/>
                    <input type="text" class="form-control" name="email" placeholder="Your email" required="true"/>
                    <input type="text" class="form-control" name="password" placeholder="Your password" required="true"/>
                </div>
                <div class="col-md-3">
                    <input class="button btn-md btn-primary"type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>

</body>
