<h2>Routing</h2>

<ul>
    <li><strong>/</strong>:

        <ul>
            <li>Homepage with 50 latest tweets from all users.</li>
            <li>When the user is logged in, it redirects to his/her profile page (/profile/:username)</li>
        </ul></li>
    <li><strong>/timeline</strong>:

        <ul>
            <li>Redirects to the homepage (/)</li>
        </ul></li>
    <li><strong>/explorer</strong>:

        <ul>
            <li>Follow suggestion page with randomly picked tweets and users</li>
        </ul></li>
    <li><strong>/profile</strong>:

        <ul>
            <li>When the user is logged in, it redirects to his/her profile page (profile/:username). </li>
            <li>If not, it does to the homepage (/)</li>
        </ul></li>
    <li><strong>/profile/:username</strong>:

        <ul>
            <li>By default, it will show the timeline of the target. (50 latest tweets from the target and those he/she follows)</li>
            <li>It has links to tweeting history and relations of the target.</li>
            <li>HIstory and relations pages can also be acceessed using m parameter in URL, h for history page, n for network page.</li>
        </ul></li>
</ul>

<a href="#/about">&#8592 Back</a>