<div class="row">
	<div class="col-md-4 col-md-offset-1">
	<h2>Allan Chesarone</h2></br>
	<div class="github-card" data-github="ACHEZ9" data-width="400" data-height="317" data-theme="medium"></div>
	<script src="javascripts/widget.js"></script></br>
</div>
</div> 


<div class="row">
	<div class="col-md-4 col-md-offset-1">
	<h2>Keigh Rim</h2></br>
	<div class="github-card" data-github="keighrim" data-width="400" data-height="317" data-theme="medium"></div>
	<script src="javascripts/widget.js"></script></br>
</div> 
</div>


<div class="row">
	<div class="col-md-4 col-md-offset-1">
	<h2>Shu Chen</h2></br>
	<div class="github-card" data-github="shuchenku" data-width="400" data-height="317" data-theme="medium"></div>
	<script src="javascripts/widget.js"></script></br>
</div> 
</div> 

<div class="row">
	<div class="col-md-4 col-md-offset-1">
	<h2>Vladimir Susaya</h2></br>
	<div class="github-card" data-github="vsusaya" data-width="400" data-height="317" data-theme="medium"></div>
	<script src="javascripts/widget.js"></script></br>
</div> 
</div> 
