
	<h2>Allan Chesarone</h2>
	<div class="github-card" data-github="ACHEZ9" data-width="400" data-height="317" data-theme="medium"></div></br></br>
	<script src="javascripts/widget.js"></script>




	<h2>Keigh Rim</h2>
	<div class="github-card" data-github="keighrim" data-width="400" data-height="317" data-theme="medium"></div></br></br>
	<script src="javascripts/widget.js"></script>


	<h2>Shu Chen</h2>
	<div class="github-card" data-github="shuchenku" data-width="400" data-height="317" data-theme="medium"></div></br></br>
	<script src="javascripts/widget.js"></script>


	<h2>Vladimir Susaya</h2>
	<div class="github-card" data-github="vsusaya" data-width="400" data-height="317" data-theme="medium"></div></br></br>
	<script src="javascripts/widget.js"></script>
