<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<head>
	<title>NanoTwitter</title>
</head>

<body>
	<div class="row">
		<div class="container-fluid">
			<div class="navbar navbar-custom">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">NanoTwitter 0.1</a>
				</div>
				<ul class="nav navbar-nav pull-right">
					<li><a href = '/register'>Register/Login interface</a></li>
					<li><a href = '/timeline'>Timeline interface</a></li>
					<li><a href = '/logout'>Log-out</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row" style="padding-left:10px; padding-right:10px">
		<div class="col-md-8 col-md-offset-4">
		<h3> Timeline for <%= @name %></h3> 
		<ul>
			<% @tweets.each do |t|%>
			<% op = t.user.name %>
			<li><%= op << ": " << t.content %></br></li>
			<% end %>
		</ul>
	</div>	
	</div>
</body>


