<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<head>
	<title>NanoTwitter</title>
</head>

<body>
	<div class="row">
		<div class="container-fluid">
			<div class="navbar navbar-custom">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">NanoTwitter 0.1</a>
				</div>
				<ul class="nav navbar-nav pull-right">
					<li><a href = '/register'>Register/Login interface</a></li>
					<li><a href = '/timeline'>Timeline interface</a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="row" style="padding-left:10px; padding-right:10px">
		<div class="col-md-8 col-md-offset-4">
		<div class="input-group">
			<h4>Tweet as user:</h4>
			<form action="/tweet" method="POST">
				<div class="col-md-9">
					<input type="text" class="form-control" name="name" placeholder="Username here. This goes away after authentication is functional" required="true"/>
					<input type="text" class="form-control" name="content" placeholder="Max 140 characters" required="true"/>
				</div>	
				<div class="col-md-3">
					<input class="button btn-lg btn-primary"type="submit" value="Submit" />
				</div>				
			</form>
		</div>
		</div>
	</div>	

	<div class="row" style="padding-left:10px; padding-right:10px">
		<div class="col-md-8 col-md-offset-4">
		<h3> Timeline starts here</h3> 
		(Showing all tweets now. Will show user-specific tweets once timeline model works)
		<ul>
			<% @tweets.each do |t|%>
			<% op = t.user.name %>
			<li><%= op << ": " << t.content %></br></li>
			<% end %>
		</ul>
	</div>	
	</div>
</body>


